src/main/mule/flows-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b3b8c3b2-b02d-414c-9258-aa87703c9f11" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="flows-apiFlow" doc:id="b445939a-e7e0-4902-aea7-a00e7c46a7e8" >
		<http:listener doc:name="Listener" doc:id="62da0723-1f3d-4130-956f-ae1045c57557" config-ref="HTTP_Listener_config" path="/flows"/>
		<logger level="INFO" doc:name="Logger" doc:id="e0a7d5b9-873d-47f8-b495-7f44abfbe0db" message='"Flow started"'/>
		<flow-ref doc:name="Flow Reference" doc:id="690b9ad0-59cf-4b14-aebd-e8d5694717a2" name="flows-apiSub_Flow" target="childresponse"/>
		<logger level="INFO" doc:name="Logger" doc:id="f8b250ac-d74b-4eaf-b86b-b2b80a6e9e92" message="payload"/>
	</flow>
	<sub-flow name="flows-apiSub_Flow" doc:id="0004d87e-6b05-473e-8db5-618f5dccaaf9" >
		<ee:transform doc:name="Transform Message" doc:id="a234e396-4bb9-4393-9209-43e08813ea4d">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "bike color": payload.colour,
    "size": payload.value
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="hello" doc:name="Set Variable" doc:id="46d749d6-8501-4b44-80eb-042e1a05ba24" variableName="childpose"/>
		<logger level="INFO" doc:name="Logger" doc:id="a8a18e2e-a074-45a3-9502-d252372f1b5a" message="payload::::::::::::#[vars.childpose]"/>
	</sub-flow>
</mule>
